@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: "Roboto", sans-serif;
}
.hero {
    background-image: url("../images/hero-bg.png");
    background-size: 1366px;
    background-repeat: no-repeat;
}

.heroContent {
    padding: 25px 264px;
}

.navLinks a {
   padding-right: 20px;
   font-style: normal;
   opacity: 0.502;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 9px;
}
.signUp button {
    border-radius: 40px;
    padding: 8px 40px;
    font-size: 12px;
    font-weight: 100;
}
.lang a {
    font-size: 12px;
}
.heroMainText {
    width: 55%;
    padding-top: 110px;
    font-size: 42px;
}
.heroBtn button {
    background-image: linear-gradient(to right, #de4527, #f3a032);
    border: none;
    border-radius: 20px;
    font-size: 12px;
}
.heroCards {
    padding-top: 130px;
}
.card {
    border-radius: 0;
    padding: 10px 10px;
    box-shadow: 3px 3px 30px rgb(184, 182, 182);
}
.card-text {
    font-size: 12px;
    color: #7d7d7d;
}
.card a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.card:hover  {
    background-color: #f3a032;
}
.card:hover .card-text {
    color: black;
}
.card .btn {
    background-color: #f3a032;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}

.card:hover .btn {
    background-color: white;
    color: black;
}
.whyUsContent {
    padding: 80px 264px;
}
.whySub, .cardText, .workingSub, .advertisersSub, .agenciesSub, .sub, .publishersSub{
    font-size: 14px;
}

.workingContent {
    background-color: #f6f6f6;
    padding: 60px 264px;
}

.workCard {
    background-color: white;
    height: 120px;
    width: 120px;
    margin-left: 20px;
    box-shadow: 2px 2px 30px rgb(184, 182, 182) ;
}
.workCard:hover {
    background-color: #f3a032;
    color: white;
}
.advertisersContent {
    padding: 50px 0 50px 264px;
}
.advertisersLeft {
    width: 38%;
}
.advertisersLeft a {
    color: #f3a032;
    font-size: 14px;
}

.stores img {
    width: 130px;
    margin-right: 10px;
}
.advertisementsRight {
    padding-left: 90px;
}
.advertisementsRight img {
    height: 500px;
}
.adArrow {
    padding-right: 120px;
}
.agencies {
    background-color: #f6f6f6;
}
.agenciesContent {
    padding: 80px 264px;
}
.agenciesTop {
    width: 60%;
}

.agenciesImg img {
    width: 22px;
}
.agencyText {
    padding-left: 10px;
}
.publishers {
    background-image: url("../images/publishers.jpg");
    background-size: 1352px;
    background-repeat: no-repeat;
}
.publishersContent {
    padding-top: 60px;
}
.publishersTop {
    width: 42%;
}
.publishersImg img {
    padding: 80px 0;
    width: 40px;
}
.factsSub {
    width: 73%;
}
.factsContent {
    padding: 60px 264px;
}
.factImage img {
    height: 100px;
}
.factText {
    font-size: 12px;
}
.factsRow {
    padding-top: 60px;
}
.factsLine {
    border: 1px solid #f3a032;
    display: none;
}
.factCardContent:hover .factsLine {
    display: block;
}
.map {
    background-image: url("../images/map.png");
    background-size: 1350px;
    background-repeat: no-repeat;
    padding: 60px 360px;
}
.mapContent {
    padding: 50px 50px;
    background-color: white;
}
.footerText {
    width: 40%;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .hero {
        /* background-image: none; */
    }
    .heroContent {
        padding: 10px 10px;
    }
    .heroMainText {
        width: 100%;
        padding-top: 60px;
    }
    .heroCards {
        padding-top: 60px;
    }
    .card {
        box-shadow: none;
        margin-bottom: 10px;
    }
    .whyUsContent {
        padding: 10px 10px;
    }
    .workingContent {
        padding: 10px 10px;
    }
    .workRow {
        width: 90%;
        margin: auto;
    }
    .workCard {
        box-shadow: none;
        margin-bottom: 20px;
    }
    .advertisersContent {
        padding: 10px 10px;
        flex-direction: column;
    }
    .stores {
        padding-bottom: 20px;
    }
    .advertisementsRight {
        padding: 0;
    }
    .advertisementsRight img {
        height: 300px;
    }
    .adArrow {
        display: none;
    }
    .agencies, .publishersContent {
        padding: 10px 10px;
    }
    .agenciesContent {
        padding: 10px 10px;
    }
    .factsContent {
        padding: 10px 10px;
    }
    .factCardContent {
        padding-bottom: 20px;
    }
    .factsLine {
        width: 50%;
        margin: auto;
    }
    .map {
        background-image: none;
        padding: 20px 20px;
    }
    .agenciesTop, .advertisersLeft, .publishersTop, .factsSub, .footerText, .workingSub, .agenciesSub, .publishersSub {
        width: 100%;
        text-align: justify;
    }
}